#customer-testimonoals {
    margin-top: 6%;
    overflow: visible;
}

#customer-testimonoals .item {
    opacity: 0.25;
    transform: scale3d(0.8, 0.8, 1);
    transition: all 0.3s ease-in-out;
}
#customer-testimonoals .owl-item.active.center .item {
    opacity: 1;
    transform: scale3d(1, 1, 1);
    overflow: visible;
}

