@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Owl carossel dots */
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    margin-top: 30px;
    background: #ea3b16;
    width: 12px;
    height: 12px;
    border-radius: 0%;
}
.owl-carousel .owl-dots .owl-dot span {
    border-radius: 0%;
    width: 12px;
    height: 12px;
}

/* slick slider */
@keyframes zoomIn {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1.25);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.25);
    }
}

.zoom-in {
    animation: zoomIn 35s infinite;
}

.zoom-out {
    animation: zoomOut 35s infinite;
}


/* slick slider fast */
@keyframes zoomInFast {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes zoomOutFast {
    0% {
        transform: scale(1.25);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.25);
    }
}

.zoom-in-fast {
    animation: zoomInFast 5s infinite;
}

.zoom-out-fast {
    animation: zoomOutFast 5s infinite;
}